In [1]:
%run ../L0/basketballReference_LIVE_L0.ipynb

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1,Luka Dončić,26.0,LAL,PG,18.0,18.0,37.2,10.8,23.0,...,0.8,8.2,9.0,9.0,1.5,0.6,4.3,2.6,35.0,NaN
1,2,Shai Gilgeous-Alexander,27.0,OKC,PG,25.0,25.0,33.2,10.8,19.4,...,0.4,4.2,4.6,6.4,1.4,0.7,1.9,2.0,32.4,NaN
2,3,Tyrese Maxey,25.0,PHI,PG,23.0,23.0,39.9,10.7,22.9,...,0.3,4.4,4.7,7.2,1.7,0.9,2.7,2.3,31.5,NaN
3,4,Donovan Mitchell,29.0,CLE,SG,24.0,24.0,34.4,10.9,21.5,...,0.9,3.9,4.8,5.4,1.4,0.3,3.4,2.3,31.3,NaN
4,5,Nikola Jokić,30.0,DEN,C,24.0,24.0,34.7,10.6,17.1,...,3.0,9.3,12.3,10.9,1.4,0.8,3.4,2.8,29.5,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      501 non-null    Int64
 1   Player  502 non-null    object
 2   Age     501 non-null    float64
 3   Team    501 non-null    object
 4   Pos     501 non-null    object
 5   G       501 non-null    float64
 6   GS      501 non-null    float64
 7   MP      501 non-null    float64
 8   FG      501 non-null    float64
 9   FGA     501 non-null    float64
 10  FG%     500 non-null    float64
 11  3P      501 non-null    float64
 12  3PA     501 non-null    float64
 13  3P%     461 non-null    float64
 14  2P      501 non-null    float64
 15  2PA     501 non-null    float64
 16  2P%     490 non-null    float64
 17  eFG%    500 non-null    float64
 18  FT      501 non-null    float64
 19  FTA     501 non-null    float64
 20  FT%     455 non-null    float64
 21  ORB     501 non-null    float64
 22  DRB     501 non-null    float64
 23  TRB     501 non-null    float64
 24  AST     501 non-null    float64
 25  STL     501 non-null    float64
 26  BLK     501 non-null    float64
 27  TOV     501 non-null    float64
 28  PF      501 non-null    float64
 29  PTS     501 non-null    float64
 30  Awards  0 non-null      float64
dtypes: Int64(1), float64(27), object(3)
memory usage: 122.2+ KB

None

,PLAYER,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO
0,Luka Dončić,18.0,37.2,35.0,10.8,23.0,0.471,12.2,9.8,0.804,3.6,9.0,9.0,1.5,0.6,4.3
1,Shai Gilgeous-Alexander,25.0,33.2,32.4,10.8,19.4,0.560,9.7,8.6,0.884,2.2,4.6,6.4,1.4,0.7,1.9
2,Tyrese Maxey,23.0,39.9,31.5,10.7,22.9,0.467,7.3,6.4,0.881,3.7,4.7,7.2,1.7,0.9,2.7
3,Donovan Mitchell,24.0,34.4,31.3,10.9,21.5,0.505,6.3,5.3,0.842,4.2,4.8,5.4,1.4,0.3,3.4
4,Nikola Jokić,24.0,34.7,29.5,10.6,17.1,0.622,7.2,6.1,0.850,2.1,12.3,10.9,1.4,0.8,3.4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  502 non-null    object
 1   G       501 non-null    float64
 2   MPG     501 non-null    float64
 3   PTS     501 non-null    float64
 4   FGM     501 non-null    float64
 5   FGA     501 non-null    float64
 6   FG%     500 non-null    float64
 7   FTA     501 non-null    float64
 8   FTM     501 non-null    float64
 9   FT%     455 non-null    float64
 10  3PM     501 non-null    float64
 11  REB     501 non-null    float64
 12  AST     501 non-null    float64
 13  STL     501 non-null    float64
 14  BLK     501 non-null    float64
 15  TO      501 non-null    float64
dtypes: float64(15), object(1)
memory usage: 62.9+ KB

None

In [2]:
%run ../L1/live_L1.ipynb

✅ utils.py loaded from: /Users/ryanbrowder/Documents/Fantasy/roundBall/utils/utils.py

   INDEX                   PLAYER              PLAYER_NORM
0  10001             Nikola Jokic             nikola jokic
1  10002  Shai Gilgeous-Alexander  shai gilgeous alexander
2  10003        Victor Wembanyama        victor wembanyama
3  10004              Luka Doncic              luka doncic
4  10005    Giannis Antetokounmpo    giannis antetokounmpo
5  10006            Anthony Davis            anthony davis
6  10007          Cade Cunningham          cade cunningham
7  10008          Anthony Edwards          anthony edwards
8  10009       Karl-Anthony Towns       karl anthony towns
9  10010             James Harden             james harden

Rows: 547 | Unique INDEX: 547

,PLAYER,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO,PLAYER_NORM
0,Luka Dončić,18.0,37.2,35.0,10.8,23.0,0.471,12.2,9.8,0.804,3.6,9.0,9.0,1.5,0.6,4.3,luka doncic
1,Shai Gilgeous-Alexander,25.0,33.2,32.4,10.8,19.4,0.560,9.7,8.6,0.884,2.2,4.6,6.4,1.4,0.7,1.9,shai gilgeous alexander
2,Tyrese Maxey,23.0,39.9,31.5,10.7,22.9,0.467,7.3,6.4,0.881,3.7,4.7,7.2,1.7,0.9,2.7,tyrese maxey
3,Donovan Mitchell,24.0,34.4,31.3,10.9,21.5,0.505,6.3,5.3,0.842,4.2,4.8,5.4,1.4,0.3,3.4,donovan mitchell
4,Nikola Jokić,24.0,34.7,29.5,10.6,17.1,0.622,7.2,6.1,0.850,2.1,12.3,10.9,1.4,0.8,3.4,nikola jokic
5,Jaylen Brown,24.0,33.5,29.1,10.7,21.4,0.499,7.2,5.7,0.791,2.1,6.1,4.8,1.1,0.4,3.6,jaylen brown
6,Giannis Antetokounmpo,17.0,29.1,28.9,11.1,17.3,0.639,9.8,6.2,0.635,0.6,10.1,6.1,0.9,0.9,3.3,giannis antetokounmpo
7,Jalen Brunson,23.0,35.1,28.8,10.2,21.0,0.487,6.7,5.6,0.838,2.8,3.1,6.4,0.7,0.1,2.3,jalen brunson
8,Anthony Edwards,20.0,34.4,28.7,9.7,19.3,0.500,7.2,6.0,0.833,3.4,4.9,3.8,1.2,0.8,3.0,anthony edwards
9,Stephen Curry,17.0,31.1,28.5,9.4,19.9,0.473,5.5,4.9,0.903,4.8,3.8,4.1,1.2,0.5,3.1,stephen curry

Rows: 502 | Matched INDEX: 441 | Unmatched: 61

                 PLAYER         PLAYER_NORM
228      Daniss Jenkins      daniss jenkins
234          Egor Dёmin          egor dеmin
235          Caleb Love          caleb love
239        Will Richard        will richard
248         Pat Spencer         pat spencer
278        Kobe Sanders        kobe sanders
283         Mac McClung         mac mcclung
287      Ethan Thompson      ethan thompson
302        Sidy Cissoko        sidy cissoko
305      Tyrese Proctor      tyrese proctor
312           Ben Saraf           ben saraf
333      Trey Alexander      trey alexander
341       Spencer Jones       spencer jones
344        Cam Christie        cam christie
351         Javon Small         javon small
358      Keshad Johnson      keshad johnson
364       Jamir Watkins       jamir watkins
370         Tyler Kolek         tyler kolek
383  David Jones García  david jones garcia
386          Mark Sears          mark sears

✅ Final LIVE output saved to: /Users/ryanbrowder/Documents/Fantasy/roundBall/L2/data/live_L2.csv

,INDEX,PLAYER_NORM,G,MPG,PTS,FG%,FT%,3PM,REB,AST,STL,BLK,TO
0,10004.0,luka doncic,18.0,37.2,35.0,0.471,0.804,3.6,9.0,9.0,1.5,0.6,4.3
1,10002.0,shai gilgeous alexander,25.0,33.2,32.4,0.560,0.884,2.2,4.6,6.4,1.4,0.7,1.9
2,10014.0,tyrese maxey,23.0,39.9,31.5,0.467,0.881,3.7,4.7,7.2,1.7,0.9,2.7
3,10018.0,donovan mitchell,24.0,34.4,31.3,0.505,0.842,4.2,4.8,5.4,1.4,0.3,3.4
4,10001.0,nikola jokic,24.0,34.7,29.5,0.622,0.850,2.1,12.3,10.9,1.4,0.8,3.4
5,10038.0,jaylen brown,24.0,33.5,29.1,0.499,0.791,2.1,6.1,4.8,1.1,0.4,3.6
6,10005.0,giannis antetokounmpo,17.0,29.1,28.9,0.639,0.635,0.6,10.1,6.1,0.9,0.9,3.3
7,10023.0,jalen brunson,23.0,35.1,28.8,0.487,0.838,2.8,3.1,6.4,0.7,0.1,2.3
8,10008.0,anthony edwards,20.0,34.4,28.7,0.500,0.833,3.4,4.9,3.8,1.2,0.8,3.0
9,10015.0,stephen curry,17.0,31.1,28.5,0.473,0.903,4.8,3.8,4.1,1.2,0.5,3.1

Rows: 502 | Matched INDEX: 441 | Unmatched: 61

In [3]:
%run rankings_L2.ipynb

✅ Imports ready.
✅ Paths and config set.
ℹ️ USE_WEIGHTS=False — proceeding with unweighted z-score sum.
✅ Saved rankings to: /Users/ryanbrowder/Documents/Fantasy/roundBall/L3/data/rankings_L3.csv

,INDEX,PLAYER_NORM,G,MPG,PTS,REB,AST,STL,BLK,3PM,FG%,FT%,TO,RANK_SCORE,RANK
0,10003.00,victor wembanyama,67.80,32.96,25.95,11.37,4.01,1.23,3.76,2.26,0.50,0.82,3.51,14.92,1
1,10001.00,nikola jokic,73.20,35.72,28.08,12.30,10.01,1.63,0.73,1.86,0.58,0.81,3.19,13.43,2
2,10004.00,luka doncic,70.80,35.84,30.47,8.42,8.59,1.64,0.49,3.60,0.48,0.78,3.77,11.21,3
3,10002.00,shai gilgeous alexander,74.00,33.84,32.34,5.24,6.40,1.74,0.98,1.98,0.52,0.89,2.38,11.16,4
4,10006.00,anthony davis,63.40,34.30,24.77,11.46,3.69,1.17,2.18,0.73,0.52,0.79,2.33,10.40,5
5,10005.00,giannis antetokounmpo,70.00,34.50,31.46,11.82,6.78,0.95,1.08,0.50,0.60,0.63,3.40,8.44,6
6,10021.00,derrick white,69.60,33.73,17.52,4.89,5.55,1.06,1.15,3.37,0.44,0.86,1.86,8.27,7
7,10014.00,tyrese maxey,67.40,37.82,26.09,3.51,6.09,1.46,0.41,3.16,0.44,0.87,2.18,8.11,8
8,10015.00,stephen curry,66.80,32.44,25.47,4.59,5.81,0.99,0.42,4.55,0.45,0.93,2.88,8.07,9
9,10008.00,anthony edwards,73.00,36.40,27.82,5.79,4.92,1.26,0.63,3.88,0.45,0.83,3.22,8.00,10
10,10030.00,chet holmgren,64.40,30.08,17.69,9.14,2.58,0.77,2.13,1.69,0.50,0.77,1.87,7.98,11
11,10018.00,donovan mitchell,70.80,32.11,25.63,4.72,5.40,1.43,0.35,3.42,0.45,0.84,2.37,7.89,12
12,10017.00,lamelo ball,50.80,32.71,25.57,5.56,7.86,1.29,0.30,3.86,0.42,0.85,3.68,7.64,13
13,10020.00,evan mobley,71.60,31.21,19.15,9.82,3.43,0.92,1.61,1.21,0.56,0.72,2.10,7.44,14
14,10010.00,james harden,74.60,34.56,20.74,5.51,8.45,1.33,0.71,2.84,0.42,0.87,3.71,7.22,15

✅ Saved rankings to: /Users/ryanbrowder/Documents/Fantasy/roundBall/L3/data/rankings_LIVE_L3.csv

,INDEX,PLAYER_NORM,G,MPG,PTS,REB,AST,STL,BLK,3PM,FG%,FT%,TO,RANK_SCORE,RANK
0,10001.00,nikola jokic,24.00,34.70,29.50,12.30,10.90,1.40,0.80,2.10,0.62,0.85,3.40,13.92,1
1,10003.00,victor wembanyama,13.00,33.60,25.80,12.60,3.80,1.10,3.50,1.60,0.50,0.84,3.70,13.65,2
2,10014.00,tyrese maxey,23.00,39.90,31.50,4.70,7.20,1.70,0.90,3.70,0.47,0.88,2.70,11.62,3
3,10004.00,luka doncic,18.00,37.20,35.00,9.00,9.00,1.50,0.60,3.60,0.47,0.80,4.30,11.30,4
4,10002.00,shai gilgeous alexander,25.00,33.20,32.40,4.60,6.40,1.40,0.70,2.20,0.56,0.88,1.90,10.17,5
5,10126.00,kevin porter,7.00,29.30,21.30,4.40,6.90,2.00,0.30,3.10,0.56,0.91,2.40,9.72,6
6,10025.00,scottie barnes,26.00,33.90,19.70,7.80,5.30,1.40,1.60,1.40,0.50,0.85,2.40,9.08,7
7,10096.00,mikal bridges,25.00,34.80,16.40,4.60,4.20,1.90,1.10,2.20,0.53,0.82,1.00,9.05,8
8,10036.00,kawhi leonard,15.00,32.30,25.30,5.70,3.10,2.10,0.40,2.30,0.49,0.97,1.80,8.90,9
9,10032.00,jalen johnson,23.00,35.10,23.20,10.50,8.00,1.60,0.30,1.60,0.53,0.81,3.40,8.52,10
10,10007.00,cade cunningham,22.00,35.80,26.90,6.10,9.10,1.50,0.90,1.90,0.45,0.83,3.80,8.49,11
11,10018.00,donovan mitchell,24.00,34.40,31.30,4.80,5.40,1.40,0.30,4.20,0.51,0.84,3.40,8.46,12
12,10061.00,walker kessler,5.00,30.80,14.40,10.80,3.00,1.40,1.80,1.20,0.70,0.70,3.20,8.27,13
13,10015.00,stephen curry,17.00,31.10,28.50,3.80,4.10,1.20,0.50,4.80,0.47,0.90,3.10,8.16,14
14,10006.00,anthony davis,11.00,29.50,20.00,10.50,3.20,1.40,1.60,0.60,0.52,0.70,1.80,8.07,15

✅ Positive RANK_SCORE_DELTA = outperforming projections; negative = underperforming.

🏀 Top Overperformers (LIVE > PROJECTIONS):

,INDEX,PLAYER_NORM,RANK_PROJ,RANK_LIVE,RANK_SCORE_PROJ,RANK_SCORE_LIVE,RANK_SCORE_DELTA,RANK_DELTA
0,10126.00,kevin porter,130,6,3.26,9.72,6.46,-124
1,10475.00,jaylon tyson,416,68,-1.29,4.62,5.91,-348
2,10096.00,mikal bridges,120,8,3.61,9.05,5.43,-112
3,10428.00,jordan walsh,471,113,-2.05,3.29,5.33,-358
4,10541.00,jamaree bouyea,533,196,-4.07,1.18,5.25,-337
5,10410.00,drake powell,542,265,-4.70,-0.45,4.25,-277
6,10507.00,tolu smith,496,185,-2.64,1.47,4.11,-311
7,10547.00,ryan nembhard,545,313,-5.21,-1.46,3.75,-232
8,10393.00,collin gillespie,247,64,1.12,4.76,3.64,-183
9,10280.00,ryan kalkbrenner,217,57,1.54,5.10,3.55,-160
10,10225.00,jeremiah fears,469,183,-2.04,1.50,3.54,-286
11,10014.00,tyrese maxey,8,3,8.11,11.62,3.51,-5
12,10502.00,bryce mcgowens,527,252,-3.54,-0.14,3.40,-275
13,10254.00,derik queen,367,138,-0.56,2.66,3.22,-229
14,10471.00,cam spencer,338,126,-0.10,2.98,3.07,-212
15,10321.00,steven adams,397,164,-1.03,2.02,3.05,-233
16,10351.00,saddiq bey,330,129,0.02,2.94,2.92,-201
17,10434.00,danny wolf,523,278,-3.35,-0.59,2.76,-245
18,10529.00,sion james,507,251,-2.85,-0.12,2.72,-256
19,10268.00,cedric coward,355,151,-0.34,2.35,2.69,-204

😬 Top Underperformers (LIVE < PROJECTIONS):

,INDEX,PLAYER_NORM,RANK_PROJ,RANK_LIVE,RANK_SCORE_PROJ,RANK_SCORE_LIVE,RANK_SCORE_DELTA,RANK_DELTA
0,10347.00,johnny juzang,243,489,1.18,-8.12,-9.29,246
1,10520.00,tosan evbuomwan,435,496,-1.56,-9.35,-7.79,61
2,10141.00,chris paul,149,448,2.73,-4.91,-7.63,299
3,10259.00,cody martin,188,461,1.96,-5.62,-7.58,273
4,10224.00,jonathan isaac,154,423,2.62,-4.23,-6.86,269
5,10318.00,larry nance,232,457,1.35,-5.37,-6.72,225
6,10086.00,bradley beal,153,403,2.65,-3.68,-6.33,250
7,10412.00,monte morris,310,468,0.32,-6.00,-6.31,158
8,10233.00,guerschon yabusele,254,451,1.06,-5.13,-6.19,197
9,10121.00,taylor hendricks,124,350,3.44,-2.46,-5.90,226
10,10508.00,daeqwon plowden,414,479,-1.26,-6.94,-5.68,65
11,10463.00,leonard miller,345,466,-0.21,-5.86,-5.65,121
12,10303.00,julian strawther,339,463,-0.12,-5.69,-5.57,124
13,10539.00,joe ingles,526,495,-3.52,-8.92,-5.40,-31
14,10403.00,aj johnson,504,488,-2.78,-8.10,-5.32,-16
15,10338.00,charles bassey,219,406,1.54,-3.78,-5.32,187
16,10387.00,trey jemison,379,467,-0.69,-5.97,-5.29,88
17,10099.00,keon ellis,125,332,3.32,-1.95,-5.27,207
18,10425.00,cody williams,516,491,-3.05,-8.26,-5.21,-25
19,10392.00,noa essengue,522,493,-3.33,-8.49,-5.17,-29