In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
df_fanScout = pd.read_csv('data/fanScout_L0.csv')

display(df_fanScout.head(5))
display(df_fanScout.info())

,RNK,Value,Name,Status,G,M,PTS,TPM,REB,AST,...,FTA,zPTS,zTPM,zAST,zREB,zSTL,zBLK,zTOV,zFG%,zFT%
0,1,2.16,Victor Wembanyama,NaN,72,33.5,27.3,3.39,11.78,4.38,...,5.93,2.69,2.46,1.18,3.28,1.49,8.06,-2.38,0.86,1.79
1,2,1.97,Nikola Jokić,NaN,72,35.4,27.8,1.98,11.72,10.36,...,6.34,2.76,0.93,4.38,3.26,2.62,0.63,-2.44,4.27,1.32
2,3,1.91,Shai Gilgeous-Alexander,NaN,74,32.5,32.1,2.05,4.82,6.52,...,9.12,3.41,1.01,2.33,0.43,2.29,1.33,-1.33,1.85,5.85
3,4,1.40,Luka Dončić,NaN,72,35.4,30.6,3.73,7.87,8.64,...,8.69,3.19,2.83,3.46,1.68,3.00,0.04,-3.16,0.48,1.05
4,5,1.17,Anthony Davis,NaN,64,33.2,24.0,0.97,9.73,4.31,...,6.96,2.19,-0.17,1.14,2.44,0.98,4.28,-1.94,1.14,0.48

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RNK     479 non-null    int64
 1   Value   479 non-null    float64
 2   Name    479 non-null    object
 3   Status  118 non-null    object
 4   G       479 non-null    int64
 5   M       479 non-null    float64
 6   PTS     479 non-null    float64
 7   TPM     479 non-null    float64
 8   REB     479 non-null    float64
 9   AST     479 non-null    float64
 10  STL     479 non-null    float64
 11  BLK     479 non-null    float64
 12  TOV     479 non-null    float64
 13  FG%     479 non-null    object
 14  FGA     479 non-null    float64
 15  FT%     479 non-null    object
 16  FTA     479 non-null    float64
 17  zPTS    479 non-null    float64
 18  zTPM    479 non-null    float64
 19  zAST    479 non-null    float64
 20  zREB    479 non-null    float64
 21  zSTL    479 non-null    float64
 22  zBLK    479 non-null    float64
 23  zTOV    479 non-null    float64
 24  zFG%    479 non-null    float64
 25  zFT%    479 non-null    float64
dtypes: float64(20), int64(2), object(4)
memory usage: 97.4+ KB

None

In [3]:
df_fanScout = df_fanScout.drop(columns=['RNK'])
df_fanScout = df_fanScout.drop(columns=['Value'])
df_fanScout = df_fanScout.drop(columns=['Status'])
df_fanScout = df_fanScout.drop(columns=['zPTS'])
df_fanScout = df_fanScout.drop(columns=['zTPM'])
df_fanScout = df_fanScout.drop(columns=['zAST'])
df_fanScout = df_fanScout.drop(columns=['zREB'])
df_fanScout = df_fanScout.drop(columns=['zSTL'])
df_fanScout = df_fanScout.drop(columns=['zBLK'])
df_fanScout = df_fanScout.drop(columns=['zTOV'])
df_fanScout = df_fanScout.drop(columns=['zFG%'])
df_fanScout = df_fanScout.drop(columns=['zFT%'])

In [4]:
df_fanScout = df_fanScout.rename(columns={'Name': 'PLAYER'})
df_fanScout = df_fanScout.rename(columns={'M': 'MPG'})
df_fanScout = df_fanScout.rename(columns={'TPM': '3PM'})
df_fanScout = df_fanScout.rename(columns={'TOV': 'TO'})

In [5]:
df_fanScout = df_fanScout[
    [
        'PLAYER', 'G',
        'MPG', 'PTS',
        'FGA', 'FG%', 
        'FTA', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
    ]
]

In [6]:
import numpy as np

numeric_cols = [
    'G','MPG', 'PTS',
    'FGA', 'FG%', 
    'FTA', 'FT%', 
    '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
]

for col in numeric_cols:
    # Remove % and commas safely
    df_fanScout[col] = (
        df_fanScout[col]
        .astype(str)
        .str.replace('%', '', regex=False)
        .str.replace(',', '', regex=False)
        .str.strip()
        .replace('', np.nan)
    )

    # Convert to numeric
    df_fanScout[col] = pd.to_numeric(df_fanScout[col], errors='coerce')

    # If column name includes '%', convert to decimal (e.g., 49 → 0.49)
    if '%' in col:
        df_fanScout[col] = df_fanScout[col] / 100

In [7]:
display(df_fanScout.head(5))
display(df_fanScout.info())

,PLAYER,G,MPG,PTS,FGA,FG%,FTA,FT%,3PM,REB,AST,STL,BLK,TO
0,Victor Wembanyama,72,33.5,27.3,19.52,0.49,5.93,0.83,3.39,11.78,4.38,1.27,3.85,3.12
1,Nikola Jokić,72,35.4,27.8,17.97,0.58,6.34,0.81,1.98,11.72,10.36,1.72,0.70,3.17
2,Shai Gilgeous-Alexander,74,32.5,32.1,21.21,0.51,9.12,0.90,2.05,4.82,6.52,1.59,1.00,2.26
3,Luka Dončić,72,35.4,30.6,21.13,0.48,8.69,0.79,3.73,7.87,8.64,1.87,0.45,3.76
4,Anthony Davis,64,33.2,24.0,17.52,0.50,6.96,0.78,0.97,9.73,4.31,1.07,2.25,2.76

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  479 non-null    object
 1   G       479 non-null    int64
 2   MPG     479 non-null    float64
 3   PTS     479 non-null    float64
 4   FGA     479 non-null    float64
 5   FG%     479 non-null    float64
 6   FTA     479 non-null    float64
 7   FT%     479 non-null    float64
 8   3PM     479 non-null    float64
 9   REB     479 non-null    float64
 10  AST     479 non-null    float64
 11  STL     479 non-null    float64
 12  BLK     479 non-null    float64
 13  TO      479 non-null    float64
dtypes: float64(12), int64(1), object(1)
memory usage: 52.5+ KB

None

In [8]:
# Convert to csv

df_fanScout.to_csv("../L1/data/fanScout_L1.csv")