In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

import sys
sys.path.append("../utils")

from utils import load_bref_per_game

SEASON = 2026
CACHE_PATH = "data/basketballReference_LIVE_L0.csv"

df_basketballReference = load_bref_per_game(SEASON, cache_path=CACHE_PATH)

display(df_basketballReference.head(5))
display(df_basketballReference.info())

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1,Luka Dončić,26.0,LAL,PG,11.0,11.0,36.8,10.6,22.5,...,0.8,7.7,8.5,9.0,1.9,0.5,4.1,2.6,34.6,NaN
1,2,Shai Gilgeous-Alexander,27.0,OKC,PG,16.0,16.0,33.4,10.8,20.4,...,0.5,4.6,5.1,6.5,1.5,0.9,1.8,1.8,32.0,NaN
2,3,Tyrese Maxey,25.0,PHI,PG,14.0,14.0,40.3,10.6,22.9,...,0.4,4.4,4.7,7.8,1.5,0.8,2.6,2.4,31.9,NaN
3,4,Giannis Antetokounmpo,31.0,MIL,PF,13.0,13.0,31.8,12.0,19.1,...,3.7,7.2,10.8,6.8,0.9,1.2,3.5,2.6,31.2,NaN
4,5,Lauri Markkanen,28.0,UTA,PF,14.0,14.0,35.9,10.4,21.5,...,2.3,3.8,6.1,2.1,1.0,0.5,1.4,2.1,30.6,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      473 non-null    Int64
 1   Player  474 non-null    object
 2   Age     473 non-null    float64
 3   Team    473 non-null    object
 4   Pos     473 non-null    object
 5   G       473 non-null    float64
 6   GS      473 non-null    float64
 7   MP      473 non-null    float64
 8   FG      473 non-null    float64
 9   FGA     473 non-null    float64
 10  FG%     469 non-null    float64
 11  3P      473 non-null    float64
 12  3PA     473 non-null    float64
 13  3P%     427 non-null    float64
 14  2P      473 non-null    float64
 15  2PA     473 non-null    float64
 16  2P%     459 non-null    float64
 17  eFG%    469 non-null    float64
 18  FT      473 non-null    float64
 19  FTA     473 non-null    float64
 20  FT%     420 non-null    float64
 21  ORB     473 non-null    float64
 22  DRB     473 non-null    float64
 23  TRB     473 non-null    float64
 24  AST     473 non-null    float64
 25  STL     473 non-null    float64
 26  BLK     473 non-null    float64
 27  TOV     473 non-null    float64
 28  PF      473 non-null    float64
 29  PTS     473 non-null    float64
 30  Awards  0 non-null      float64
dtypes: Int64(1), float64(27), object(3)
memory usage: 115.4+ KB

None

In [3]:
#df_basketballReference = pd.read_csv('data/basketballReference_LIVE_L0.csv')

#display(df_basketballReference.head(5))
#display(df_basketballReference.info())

In [4]:
# Rename 'Player' to 'PLAYER' if it exists
df_basketballReference = df_basketballReference.rename(columns={'Player': 'PLAYER'})
df_basketballReference = df_basketballReference.rename(columns={'MP': 'MPG'})
df_basketballReference = df_basketballReference.rename(columns={'FG': 'FGM'})
df_basketballReference = df_basketballReference.rename(columns={'FT': 'FTM'})
df_basketballReference = df_basketballReference.rename(columns={'3P': '3PM'})
df_basketballReference = df_basketballReference.rename(columns={'TRB': 'REB'})
df_basketballReference = df_basketballReference.rename(columns={'TOV': 'TO'})

# Define the exact column order to keep
keep_cols = [
    "PLAYER", "G", "MPG","PTS", "FGM", "FGA", "FG%", 
    "FTA", "FTM", "FT%", "3PM", "REB", 
    "AST", "STL", "BLK", "TO"
]

# Filter and reorder safely
df_basketballReference = df_basketballReference[
    [col for col in keep_cols if col in df_basketballReference.columns]
]

In [5]:
numeric_cols = [
        'G','MPG','PTS',
        'FGM', 'FGA', 'FG%', 
        'FTA', 'FTM', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
]

# Convert safely — non-numeric entries become NaN
for col in numeric_cols:
    df_basketballReference[col] = pd.to_numeric(df_basketballReference[col], errors='coerce')

In [6]:
display(df_basketballReference.head(5))
display(df_basketballReference.info())

,PLAYER,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO
0,Luka Dončić,11.0,36.8,34.6,10.6,22.5,0.472,12.5,9.9,0.790,3.5,8.5,9.0,1.9,0.5,4.1
1,Shai Gilgeous-Alexander,16.0,33.4,32.0,10.8,20.4,0.529,9.1,8.2,0.897,2.2,5.1,6.5,1.5,0.9,1.8
2,Tyrese Maxey,14.0,40.3,31.9,10.6,22.9,0.461,7.8,6.9,0.881,3.9,4.7,7.8,1.5,0.8,2.6
3,Giannis Antetokounmpo,13.0,31.8,31.2,12.0,19.1,0.629,10.2,6.5,0.636,0.7,10.8,6.8,0.9,1.2,3.5
4,Lauri Markkanen,14.0,35.9,30.6,10.4,21.5,0.485,6.9,6.1,0.885,3.7,6.1,2.1,1.0,0.5,1.4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  474 non-null    object
 1   G       473 non-null    float64
 2   MPG     473 non-null    float64
 3   PTS     473 non-null    float64
 4   FGM     473 non-null    float64
 5   FGA     473 non-null    float64
 6   FG%     469 non-null    float64
 7   FTA     473 non-null    float64
 8   FTM     473 non-null    float64
 9   FT%     420 non-null    float64
 10  3PM     473 non-null    float64
 11  REB     473 non-null    float64
 12  AST     473 non-null    float64
 13  STL     473 non-null    float64
 14  BLK     473 non-null    float64
 15  TO      473 non-null    float64
dtypes: float64(15), object(1)
memory usage: 59.4+ KB

None

In [7]:
# Convert to csv

df_basketballReference.to_csv("../L1/data/basketballReference_LIVE_L1.csv")