In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
df_basketballReference = pd.read_csv('data/basketballReference_LIVE_L0.csv')

display(df_basketballReference.head(5))
display(df_basketballReference.info())

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1.0,Luka Dončić,26.0,LAL,PG,4.0,4.0,38.3,13.5,24.8,...,0.5,11.0,11.5,8.3,1.3,0.3,4.0,2.3,41.3,NaN
1,2.0,Giannis Antetokounmpo,31.0,MIL,PF,5.0,5.0,32.6,13.0,19.0,...,4.0,9.4,13.4,7.2,0.8,1.2,2.8,2.6,34.2,NaN
2,3.0,Tyrese Maxey,25.0,PHI,PG,6.0,6.0,42.5,10.5,22.7,...,0.3,4.5,4.8,9.0,1.2,0.8,2.3,2.8,33.7,NaN
3,4.0,Shai Gilgeous-Alexander,27.0,OKC,PG,7.0,7.0,36.0,11.7,22.3,...,0.1,5.0,5.1,5.9,1.1,1.1,2.1,1.7,33.6,NaN
4,5.0,Lauri Markkanen,28.0,UTA,PF,6.0,6.0,36.7,11.0,22.5,...,2.2,4.5,6.7,2.3,0.5,0.7,1.0,1.0,33.0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      438 non-null    float64
 1   Player  439 non-null    object
 2   Age     438 non-null    float64
 3   Team    438 non-null    object
 4   Pos     438 non-null    object
 5   G       438 non-null    float64
 6   GS      438 non-null    float64
 7   MP      438 non-null    float64
 8   FG      438 non-null    float64
 9   FGA     438 non-null    float64
 10  FG%     425 non-null    float64
 11  3P      438 non-null    float64
 12  3PA     438 non-null    float64
 13  3P%     370 non-null    float64
 14  2P      438 non-null    float64
 15  2PA     438 non-null    float64
 16  2P%     412 non-null    float64
 17  eFG%    425 non-null    float64
 18  FT      438 non-null    float64
 19  FTA     438 non-null    float64
 20  FT%     352 non-null    float64
 21  ORB     438 non-null    float64
 22  DRB     438 non-null    float64
 23  TRB     438 non-null    float64
 24  AST     438 non-null    float64
 25  STL     438 non-null    float64
 26  BLK     438 non-null    float64
 27  TOV     438 non-null    float64
 28  PF      438 non-null    float64
 29  PTS     438 non-null    float64
 30  Awards  0 non-null      float64
dtypes: float64(28), object(3)
memory usage: 106.4+ KB

None

In [3]:
# Rename 'Player' to 'PLAYER' if it exists
df_basketballReference = df_basketballReference.rename(columns={'Player': 'PLAYER'})
df_basketballReference = df_basketballReference.rename(columns={'MP': 'MPG'})
df_basketballReference = df_basketballReference.rename(columns={'FG': 'FGM'})
df_basketballReference = df_basketballReference.rename(columns={'FT': 'FTM'})
df_basketballReference = df_basketballReference.rename(columns={'3P': '3PM'})
df_basketballReference = df_basketballReference.rename(columns={'TRB': 'REB'})
df_basketballReference = df_basketballReference.rename(columns={'TOV': 'TO'})

# Define the exact column order to keep
keep_cols = [
    "PLAYER", "G", "MPG","PTS", "FGM", "FGA", "FG%", 
    "FTA", "FTM", "FT%", "3PM", "REB", 
    "AST", "STL", "BLK", "TO"
]

# Filter and reorder safely
df_basketballReference = df_basketballReference[
    [col for col in keep_cols if col in df_basketballReference.columns]
]

In [4]:
numeric_cols = [
        'G','MPG','PTS',
        'FGM', 'FGA', 'FG%', 
        'FTA', 'FTM', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO'
]

# Convert safely — non-numeric entries become NaN
for col in numeric_cols:
    df_basketballReference[col] = pd.to_numeric(df_basketballReference[col], errors='coerce')

In [5]:
display(df_basketballReference.head(5))
display(df_basketballReference.info())

,PLAYER,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO
0,Luka Dončić,4.0,38.3,41.3,13.5,24.8,0.545,13.5,10.8,0.796,3.5,11.5,8.3,1.3,0.3,4.0
1,Giannis Antetokounmpo,5.0,32.6,34.2,13.0,19.0,0.684,11.2,7.2,0.643,1.0,13.4,7.2,0.8,1.2,2.8
2,Tyrese Maxey,6.0,42.5,33.7,10.5,22.7,0.463,9.5,8.3,0.877,4.3,4.8,9.0,1.2,0.8,2.3
3,Shai Gilgeous-Alexander,7.0,36.0,33.6,11.7,22.3,0.526,9.6,8.6,0.896,1.6,5.1,5.9,1.1,1.1,2.1
4,Lauri Markkanen,6.0,36.7,33.0,11.0,22.5,0.489,8.2,7.2,0.878,3.8,6.7,2.3,0.5,0.7,1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  439 non-null    object
 1   G       438 non-null    float64
 2   MPG     438 non-null    float64
 3   PTS     438 non-null    float64
 4   FGM     438 non-null    float64
 5   FGA     438 non-null    float64
 6   FG%     425 non-null    float64
 7   FTA     438 non-null    float64
 8   FTM     438 non-null    float64
 9   FT%     352 non-null    float64
 10  3PM     438 non-null    float64
 11  REB     438 non-null    float64
 12  AST     438 non-null    float64
 13  STL     438 non-null    float64
 14  BLK     438 non-null    float64
 15  TO      438 non-null    float64
dtypes: float64(15), object(1)
memory usage: 55.0+ KB

None

In [6]:
# Convert to csv

df_basketballReference.to_csv("../L1/data/basketballReference_LIVE_L1.csv")