In [1]:
# mass L0 run

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

In [3]:
%run basketballReference_L0.ipynb
%run fanScout_L0.ipynb
%run fantasyPros_L0.ipynb
%run hashTag_L0.ipynb

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Per 36 Minutes,Per 36 Minutes.1,Per 36 Minutes.2,Per 36 Minutes.3,Per 36 Minutes.4,Per 36 Minutes.5,Per 36 Minutes.6,...,Per 36 Minutes.8,Per 36 Minutes.9,Per 36 Minutes.10,Per 36 Minutes.11,Per 36 Minutes.12,Per 36 Minutes.13,Shooting,Shooting.1,Shooting.2,#NAME?
0,Rk,Player,Type,FG,FGA,3P,3PA,FT,FTA,ORB,...,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,-9999
1,1,Precious Achiuwa,Projected,5.3,10.6,0.6,2,1.6,2.5,3.4,...,2,1.2,1.3,1.6,2.8,12.8,0.501,0.292,0.637,achiupr01
2,2,Steven Adams,Projected,4.5,8.5,0.3,0.9,1.9,4.1,6.5,...,3.1,1,1.2,2.4,2.8,11.3,0.532,0.328,0.479,adamsst01
3,3,Bam Adebayo,Projected,7.5,15,0.8,2.2,3.7,4.8,2.4,...,4.3,1.3,0.8,2.3,2.3,19.5,0.5,0.356,0.767,adebaba01
4,4,Ochai Agbaji,Projected,5.1,10.8,1.9,5.2,0.9,1.3,1.4,...,2.1,1.1,0.7,1.2,2.6,13.1,0.475,0.373,0.722,agbajoc01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         569 non-null    object
 1   Unnamed: 1         569 non-null    object
 2   Unnamed: 2         569 non-null    object
 3   Per 36 Minutes     569 non-null    object
 4   Per 36 Minutes.1   569 non-null    object
 5   Per 36 Minutes.2   569 non-null    object
 6   Per 36 Minutes.3   569 non-null    object
 7   Per 36 Minutes.4   569 non-null    object
 8   Per 36 Minutes.5   569 non-null    object
 9   Per 36 Minutes.6   569 non-null    object
 10  Per 36 Minutes.7   569 non-null    object
 11  Per 36 Minutes.8   569 non-null    object
 12  Per 36 Minutes.9   569 non-null    object
 13  Per 36 Minutes.10  569 non-null    object
 14  Per 36 Minutes.11  569 non-null    object
 15  Per 36 Minutes.12  569 non-null    object
 16  Per 36 Minutes.13  569 non-null    object
 17  Shooting           569 non-null    object
 18  Shooting.1         569 non-null    object
 19  Shooting.2         569 non-null    object
 20  #NAME?             569 non-null    object
dtypes: object(21)
memory usage: 93.5+ KB

None

,PLAYER,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO
0,Precious Achiuwa,12.8,5.3,10.6,0.501,2.5,1.6,0.637,0.6,10.0,2.0,1.2,1.3,1.6
1,Steven Adams,11.3,4.5,8.5,0.532,4.1,1.9,0.479,0.3,13.6,3.1,1.0,1.2,2.4
2,Bam Adebayo,19.5,7.5,15.0,0.500,4.8,3.7,0.767,0.8,10.1,4.3,1.3,0.8,2.3
3,Ochai Agbaji,13.1,5.1,10.8,0.475,1.3,0.9,0.722,1.9,5.0,2.1,1.1,0.7,1.2
4,Santi Aldama,16.7,6.3,13.3,0.475,2.2,1.5,0.696,2.5,8.5,3.6,1.1,0.8,1.5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  568 non-null    object
 1   PTS     568 non-null    float64
 2   FGM     568 non-null    float64
 3   FGA     568 non-null    float64
 4   FG%     568 non-null    float64
 5   FTA     568 non-null    float64
 6   FTM     568 non-null    float64
 7   FT%     568 non-null    float64
 8   3PM     568 non-null    float64
 9   REB     568 non-null    float64
 10  AST     568 non-null    float64
 11  STL     568 non-null    float64
 12  BLK     568 non-null    float64
 13  TO      568 non-null    float64
dtypes: float64(13), object(1)
memory usage: 62.3+ KB

None

,RNK,Value,Name,Status,G,M,PTS,TPM,REB,AST,...,FTA,zPTS,zTPM,zAST,zREB,zSTL,zBLK,zTOV,zFG%,zFT%
0,1,2.16,Victor Wembanyama,NaN,72,33.5,27.3,3.39,11.78,4.38,...,5.93,2.69,2.46,1.18,3.28,1.49,8.06,-2.38,0.86,1.79
1,2,1.97,Nikola Jokić,NaN,72,35.4,27.8,1.98,11.72,10.36,...,6.34,2.76,0.93,4.38,3.26,2.62,0.63,-2.44,4.27,1.32
2,3,1.91,Shai Gilgeous-Alexander,NaN,74,32.5,32.1,2.05,4.82,6.52,...,9.12,3.41,1.01,2.33,0.43,2.29,1.33,-1.33,1.85,5.85
3,4,1.40,Luka Dončić,NaN,72,35.4,30.6,3.73,7.87,8.64,...,8.69,3.19,2.83,3.46,1.68,3.00,0.04,-3.16,0.48,1.05
4,5,1.17,Anthony Davis,NaN,64,33.2,24.0,0.97,9.73,4.31,...,6.96,2.19,-0.17,1.14,2.44,0.98,4.28,-1.94,1.14,0.48

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RNK     479 non-null    int64
 1   Value   479 non-null    float64
 2   Name    479 non-null    object
 3   Status  118 non-null    object
 4   G       479 non-null    int64
 5   M       479 non-null    float64
 6   PTS     479 non-null    float64
 7   TPM     479 non-null    float64
 8   REB     479 non-null    float64
 9   AST     479 non-null    float64
 10  STL     479 non-null    float64
 11  BLK     479 non-null    float64
 12  TOV     479 non-null    float64
 13  FG%     479 non-null    object
 14  FGA     479 non-null    float64
 15  FT%     479 non-null    object
 16  FTA     479 non-null    float64
 17  zPTS    479 non-null    float64
 18  zTPM    479 non-null    float64
 19  zAST    479 non-null    float64
 20  zREB    479 non-null    float64
 21  zSTL    479 non-null    float64
 22  zBLK    479 non-null    float64
 23  zTOV    479 non-null    float64
 24  zFG%    479 non-null    float64
 25  zFT%    479 non-null    float64
dtypes: float64(20), int64(2), object(4)
memory usage: 97.4+ KB

None

,PLAYER,G,MPG,PTS,FGA,FG%,FTA,FT%,3PM,REB,AST,STL,BLK,TO
0,Victor Wembanyama,72,33.5,27.3,19.52,0.49,5.93,0.83,3.39,11.78,4.38,1.27,3.85,3.12
1,Nikola Jokić,72,35.4,27.8,17.97,0.58,6.34,0.81,1.98,11.72,10.36,1.72,0.70,3.17
2,Shai Gilgeous-Alexander,74,32.5,32.1,21.21,0.51,9.12,0.90,2.05,4.82,6.52,1.59,1.00,2.26
3,Luka Dončić,72,35.4,30.6,21.13,0.48,8.69,0.79,3.73,7.87,8.64,1.87,0.45,3.76
4,Anthony Davis,64,33.2,24.0,17.52,0.50,6.96,0.78,0.97,9.73,4.31,1.07,2.25,2.76

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  479 non-null    object
 1   G       479 non-null    int64
 2   MPG     479 non-null    float64
 3   PTS     479 non-null    float64
 4   FGA     479 non-null    float64
 5   FG%     479 non-null    float64
 6   FTA     479 non-null    float64
 7   FT%     479 non-null    float64
 8   3PM     479 non-null    float64
 9   REB     479 non-null    float64
 10  AST     479 non-null    float64
 11  STL     479 non-null    float64
 12  BLK     479 non-null    float64
 13  TO      479 non-null    float64
dtypes: float64(12), int64(1), object(1)
memory usage: 52.5+ KB

None

,NBA Fantasy Basketball Overall 2025-26 Average Projections | FantasyPros,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,GP,MIN,TO
1,Shai Gilgeous-Alexander (OKC - PG),32.4,5.3,6.3,0.9,1.8,0.52,0.893,1.8,76,34.9,2.5
2,"Giannis Antetokounmpo (MIL - PF,C)",32.2,11.6,6.6,1,1,0.586,0.638,0.4,74,35.4,3.5
3,"Luka Doncic (LAL - PG,SG)",29.7,8.5,8.5,0.5,1.5,0.478,0.774,3.1,74,36.4,3.9
4,Nikola Jokic (DEN - C),27.6,12.3,9.6,0.7,1.6,0.575,0.807,1.6,75,36.1,3.2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 12 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   NBA Fantasy Basketball Overall 2025-26 Average Projections | FantasyPros  341 non-null    object
 1   Unnamed: 1                                                                281 non-null    object
 2   Unnamed: 2                                                                281 non-null    object
 3   Unnamed: 3                                                                281 non-null    object
 4   Unnamed: 4                                                                281 non-null    object
 5   Unnamed: 5                                                                281 non-null    object
 6   Unnamed: 6                                                                281 non-null    object
 7   Unnamed: 7                                                                281 non-null    object
 8   Unnamed: 8                                                                281 non-null    object
 9   Unnamed: 9                                                                281 non-null    object
 10  Unnamed: 10                                                               281 non-null    object
 11  Unnamed: 11                                                               281 non-null    object
dtypes: object(12)
memory usage: 33.5+ KB

None

Unmatched rows after parse (showing up to 15):

0                                               Player
280                                     Featured Tools
281                                                nan
282                                                NBA
283                                 Consensus Rankings
284  Up-to-date rankings from all the top fantasy e...
285                                                nan
286                                 Consensus Rankings
287                                                NBA
288                               Mock Draft Simulator
289  Practice for your draft with the best mock dra...
290                                                nan
291                               Mock Draft Simulator
292                                                NBA
293                                        My Playbook
294  Get fast, FREE advice from the top fantasy exp...

,PLAYER,POS,TEAM,GP,MPG,PTS,FG%,FT%,3PM,REB,AST,STL,BLK,TO
0,Shai Gilgeous-Alexander,PG,OKC,76.0,34.9,32.4,0.520,0.893,1.8,5.3,6.3,1.8,0.9,2.5
1,Giannis Antetokounmpo,"PF,C",MIL,74.0,35.4,32.2,0.586,0.638,0.4,11.6,6.6,1.0,1.0,3.5
2,Luka Doncic,"PG,SG",LAL,74.0,36.4,29.7,0.478,0.774,3.1,8.5,8.5,1.5,0.5,3.9
3,Nikola Jokic,C,DEN,75.0,36.1,27.6,0.575,0.807,1.6,12.3,9.6,1.6,0.7,3.2
4,Anthony Edwards,"PG,SF,SG",MIN,78.0,36.8,27.3,0.450,0.822,3.6,5.9,5.1,1.3,0.7,3.2
5,Devin Booker,"PG,SG",PHO,75.0,37.0,26.5,0.469,0.886,2.3,4.1,6.9,0.9,0.3,2.8
6,Joel Embiid,C,PHI,59.0,31.3,26.3,0.500,0.873,1.1,8.4,4.1,0.9,1.2,3.1
7,Jaylen Brown,"SG,SF",BOS,75.0,35.7,26.0,0.478,0.738,2.3,6.8,4.5,1.4,0.6,3.0
8,Jalen Brunson,PG,NYK,74.0,35.6,25.7,0.484,0.828,2.3,3.1,6.9,0.9,0.2,2.4
9,Donovan Mitchell,"PG,SG",CLE,75.0,33.4,25.6,0.455,0.836,3.5,4.6,5.2,1.5,0.3,2.4
10,Cade Cunningham,"PG,SG",DET,74.0,35.4,25.4,0.463,0.850,2.1,5.8,8.5,1.0,0.6,4.2
11,Stephen Curry,PG,GSW,74.0,33.0,25.0,0.451,0.925,4.4,4.5,5.5,1.0,0.4,2.8
12,Trae Young,PG,ATL,76.0,36.0,24.9,0.418,0.873,2.9,3.1,11.1,1.3,0.2,4.6
13,Ja Morant,PG,MEM,72.0,33.1,24.8,0.455,0.785,1.7,5.3,8.1,1.2,0.3,3.6
14,Tyrese Maxey,"PG,SG",PHI,74.0,37.2,24.7,0.451,0.873,3.0,3.2,5.4,1.4,0.3,2.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  280 non-null    object
 1   POS     280 non-null    object
 2   TEAM    280 non-null    object
 3   GP      280 non-null    float64
 4   MPG     280 non-null    float64
 5   PTS     280 non-null    float64
 6   FG%     280 non-null    float64
 7   FT%     280 non-null    float64
 8   3PM     280 non-null    float64
 9   REB     280 non-null    float64
 10  AST     280 non-null    float64
 11  STL     280 non-null    float64
 12  BLK     280 non-null    float64
 13  TO      280 non-null    float64
dtypes: float64(11), object(3)
memory usage: 39.0+ KB

None

,R#,ADP,PLAYER,POS,TEAM,GP,MPG,FG%,FT%,3PM,PTS,TREB,AST,STL,BLK,TO,TOTAL
0,1,2,Nikola Jokic,C,DEN,74,35.7,0.579(10.9/18.9),0.808(4.9/6.0),2.1,28.8,12.7,10.3,1.6,0.8,3.2,17.68
1,2,4.3,Shai Gilgeous-Alexander,PG,OKC,74,34.1,0.527(11.1/21.0),0.886(7.8/8.8),2.1,32.1,5.3,6.3,1.7,1,2.3,15.98
2,3,3.6,Victor Wembanyama,C,SA,65,32.4,0.470(8.6/18.4),0.827(4.1/5.0),2.9,24.3,11,3.7,1.1,3.7,3.7,14.97
3,4,5.2,Luka Doncic,"PG,SG",LAL,70,35.8,0.473(10.4/22.0),0.785(6.5/8.3),3.8,31.1,8.7,8.8,1.6,0.5,3.8,11.34
4,5,5.4,Giannis Antetokounmpo,"PF,C",MIL,70,34.7,0.607(12.0/19.8),0.633(6.8/10.8),0.4,31.1,11.8,6.8,0.9,1.1,3.4,10.95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   R#      586 non-null    object
 1   ADP     278 non-null    object
 2   PLAYER  586 non-null    object
 3   POS     569 non-null    object
 4   TEAM    586 non-null    object
 5   GP      586 non-null    object
 6   MPG     586 non-null    object
 7   FG%     586 non-null    object
 8   FT%     586 non-null    object
 9   3PM     586 non-null    object
 10  PTS     586 non-null    object
 11  TREB    586 non-null    object
 12  AST     586 non-null    object
 13  STL     586 non-null    object
 14  BLK     586 non-null    object
 15  TO      586 non-null    object
 16  TOTAL   586 non-null    object
dtypes: object(17)
memory usage: 78.0+ KB

None

,PLAYER,POS,TEAM,ADP,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO,TOTAL
0,Nikola Jokic,C,DEN,2.0,74.0,35.7,28.8,10.9,18.9,0.579,6.0,4.9,0.808,2.1,12.7,10.3,1.6,0.8,3.2,17.68
1,Shai Gilgeous-Alexander,PG,OKC,4.3,74.0,34.1,32.1,11.1,21.0,0.527,8.8,7.8,0.886,2.1,5.3,6.3,1.7,1.0,2.3,15.98
2,Victor Wembanyama,C,SA,3.6,65.0,32.4,24.3,8.6,18.4,0.470,5.0,4.1,0.827,2.9,11.0,3.7,1.1,3.7,3.7,14.97
3,Luka Doncic,"PG,SG",LAL,5.2,70.0,35.8,31.1,10.4,22.0,0.473,8.3,6.5,0.785,3.8,8.7,8.8,1.6,0.5,3.8,11.34
4,Giannis Antetokounmpo,"PF,C",MIL,5.4,70.0,34.7,31.1,12.0,19.8,0.607,10.8,6.8,0.633,0.4,11.8,6.8,0.9,1.1,3.4,10.95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  586 non-null    object
 1   POS     569 non-null    object
 2   TEAM    586 non-null    object
 3   ADP     586 non-null    float64
 4   G       586 non-null    float64
 5   MPG     586 non-null    float64
 6   PTS     586 non-null    float64
 7   FGM     586 non-null    float64
 8   FGA     586 non-null    float64
 9   FG%     586 non-null    float64
 10  FTA     586 non-null    float64
 11  FTM     586 non-null    float64
 12  FT%     586 non-null    float64
 13  3PM     586 non-null    float64
 14  REB     586 non-null    float64
 15  AST     586 non-null    float64
 16  STL     586 non-null    float64
 17  BLK     586 non-null    float64
 18  TO      586 non-null    float64
 19  TOTAL   586 non-null    float64
dtypes: float64(17), object(3)
memory usage: 91.7+ KB

None