In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
df_hashTag = pd.read_csv('data/hashTag_L0.csv')

display(df_hashTag.head(5))
display(df_hashTag.info())

,R#,ADP,PLAYER,POS,TEAM,GP,MPG,FG%,FT%,3PM,PTS,TREB,AST,STL,BLK,TO,TOTAL
0,1,2,Nikola Jokic,C,DEN,74,35.7,0.579(10.9/18.9),0.808(4.9/6.0),2.1,28.8,12.7,10.3,1.6,0.8,3.2,17.68
1,2,4.3,Shai Gilgeous-Alexander,PG,OKC,74,34.1,0.527(11.1/21.0),0.886(7.8/8.8),2.1,32.1,5.3,6.3,1.7,1,2.3,15.98
2,3,3.6,Victor Wembanyama,C,SA,65,32.4,0.470(8.6/18.4),0.827(4.1/5.0),2.9,24.3,11,3.7,1.1,3.7,3.7,14.97
3,4,5.2,Luka Doncic,"PG,SG",LAL,70,35.8,0.473(10.4/22.0),0.785(6.5/8.3),3.8,31.1,8.7,8.8,1.6,0.5,3.8,11.34
4,5,5.4,Giannis Antetokounmpo,"PF,C",MIL,70,34.7,0.607(12.0/19.8),0.633(6.8/10.8),0.4,31.1,11.8,6.8,0.9,1.1,3.4,10.95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   R#      586 non-null    object
 1   ADP     278 non-null    object
 2   PLAYER  586 non-null    object
 3   POS     569 non-null    object
 4   TEAM    586 non-null    object
 5   GP      586 non-null    object
 6   MPG     586 non-null    object
 7   FG%     586 non-null    object
 8   FT%     586 non-null    object
 9   3PM     586 non-null    object
 10  PTS     586 non-null    object
 11  TREB    586 non-null    object
 12  AST     586 non-null    object
 13  STL     586 non-null    object
 14  BLK     586 non-null    object
 15  TO      586 non-null    object
 16  TOTAL   586 non-null    object
dtypes: object(17)
memory usage: 78.0+ KB

None

In [3]:
df_hashTag.drop(columns=['R#'], inplace=True)

# --- Field Goals ---
df_hashTag['FGM'] = df_hashTag['FG%'].str.extract(r'\(([\d.]+)/')[0].astype(float)
df_hashTag['FGA'] = df_hashTag['FG%'].str.extract(r'/([\d.]+)\)')[0].astype(float)
df_hashTag['FG%'] = df_hashTag['FG%'].str.extract(r'([\d.]+)').astype(float)

# --- Free Throws ---
df_hashTag['FTM'] = df_hashTag['FT%'].str.extract(r'\(([\d.]+)/')[0].astype(float)
df_hashTag['FTA'] = df_hashTag['FT%'].str.extract(r'/([\d.]+)\)')[0].astype(float)
df_hashTag['FT%'] = df_hashTag['FT%'].str.extract(r'([\d.]+)').astype(float)

In [4]:
df_hashTag = df_hashTag.rename(columns={'TREB': 'REB'})
df_hashTag = df_hashTag.rename(columns={'GP': 'G'})

In [5]:
df_hashTag = df_hashTag[
    [
        'PLAYER', 'POS', 'TEAM', 'ADP',
        'G', 'MPG', 'PTS',
        'FGM', 'FGA', 'FG%', 
        'FTA', 'FTM', 'FT%', 
        '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO', 'TOTAL'
    ]
]

In [6]:
numeric_cols = [
    'ADP', 'G', 'MPG', 'PTS',
    'FGM', 'FGA', 'FG%', 
    'FTA', 'FTM', 'FT%', 
    '3PM', 'REB', 'AST', 'STL', 'BLK', 'TO', 'TOTAL'
]

# Convert safely â€” non-numeric entries become NaN
for col in numeric_cols:
    df_hashTag[col] = pd.to_numeric(df_hashTag[col], errors='coerce')

In [7]:
df_hashTag[numeric_cols] = df_hashTag[numeric_cols].fillna(0)

In [8]:
display(df_hashTag.head(5))
display(df_hashTag.info())

,PLAYER,POS,TEAM,ADP,G,MPG,PTS,FGM,FGA,FG%,FTA,FTM,FT%,3PM,REB,AST,STL,BLK,TO,TOTAL
0,Nikola Jokic,C,DEN,2.0,74.0,35.7,28.8,10.9,18.9,0.579,6.0,4.9,0.808,2.1,12.7,10.3,1.6,0.8,3.2,17.68
1,Shai Gilgeous-Alexander,PG,OKC,4.3,74.0,34.1,32.1,11.1,21.0,0.527,8.8,7.8,0.886,2.1,5.3,6.3,1.7,1.0,2.3,15.98
2,Victor Wembanyama,C,SA,3.6,65.0,32.4,24.3,8.6,18.4,0.470,5.0,4.1,0.827,2.9,11.0,3.7,1.1,3.7,3.7,14.97
3,Luka Doncic,"PG,SG",LAL,5.2,70.0,35.8,31.1,10.4,22.0,0.473,8.3,6.5,0.785,3.8,8.7,8.8,1.6,0.5,3.8,11.34
4,Giannis Antetokounmpo,"PF,C",MIL,5.4,70.0,34.7,31.1,12.0,19.8,0.607,10.8,6.8,0.633,0.4,11.8,6.8,0.9,1.1,3.4,10.95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  586 non-null    object
 1   POS     569 non-null    object
 2   TEAM    586 non-null    object
 3   ADP     586 non-null    float64
 4   G       586 non-null    float64
 5   MPG     586 non-null    float64
 6   PTS     586 non-null    float64
 7   FGM     586 non-null    float64
 8   FGA     586 non-null    float64
 9   FG%     586 non-null    float64
 10  FTA     586 non-null    float64
 11  FTM     586 non-null    float64
 12  FT%     586 non-null    float64
 13  3PM     586 non-null    float64
 14  REB     586 non-null    float64
 15  AST     586 non-null    float64
 16  STL     586 non-null    float64
 17  BLK     586 non-null    float64
 18  TO      586 non-null    float64
 19  TOTAL   586 non-null    float64
dtypes: float64(17), object(3)
memory usage: 91.7+ KB

None

In [9]:
# Convert to csv

df_hashTag.to_csv("../L1/data/hashTag_L1.csv")